/* General  Styles:*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #29f1fa;
    background-color: red
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}




/*Nawigacja Start: */

#main-nav {
    text-align: right;
    background-color: rgba(0, 255, 255, 0.5);
    position: fixed;
    /*    dzieki width 100% menu wskoczylo na gore bez marginu*/
    width: 100%;
    top: 0;
    right: 0;
    z-index: 11000000;
}

#main-nav ul {
    margin: 0;

}

#main-nav ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 20px;


}

#main-nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

#main-nav ul li a:hover {
    color: black;
}

/*Nawigacja Stop */

/*Header*/

header#main-header {

    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;

}

header#main-header > div.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-family: 'Roboto' sans-serif;


}


header#main-header > div.content > h1 {
    /*    dzieki margin:0 nie ma odstepu nad menu*/
    margin: 0;
    font-size: 8em;
    font-weight: lighter;

}

header#main-header > div.content > h1 > span {
    color: green;

}

header#main-header > div.content > h2 {}

/*Sekcja o mnie początek*/

#about-me {
    background-color: #f9fcfe;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;

}


#about-me h2 {
    color: black;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#about-me > h2 > span {
    color: green;
}

div.about-position {
    position: relative;
}

div.about-position > figure {
    background-color: reen;
    display: block;
    position: relative;
    margin-left: 4em;
    width: 30%;
    transform: translateX(40px);
    float: left;
}

div.about-position > figure > img {
    max-width: 100%;
    padding: 10px;

}

.about-content {
    display: inline-block;
    position: relative;
    width: 50%;
    right: 0;
    margin: 0 20px;
    padding: 0 20px;



}

.about-content > p {
    color: black;
    text-align: justify;
    padding-right: 20px;


}

/*sekcja o mnie koniec*/

/*sekcja moje umiejętności start*/

#umiejetnosci {
    background-color: #f9fcfe;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;

}

#umiejetnosci > h2 {
    color: black;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#umiejetnosci > h2 > span {
    color: green;
}

#umiejetnosci > p {
    color: black;
    text-align: center;
}

figure.icons {
    text-align: center;

}

figure.icons > img {
    margin: 20px 40px;
}


/*koniec moje umiejetnosci*/

/*start portfolio*/

#moje-portfolio {
    background-color: #f9fcfe;
    display: block;
    position: relative;
    width: 100%;
    /*    overflow: hidden;*/
}

#moje-portfolio > h2 {
    color: black;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#moje-portfolio > h2 > span {
    color: green;
}

.portfolio {
    width: 100%;
/*    font-size: 0;*/
    
}

.port-1 {
    display: inline-block;
    background-image: url(../img/portfolio1.jpg);
    background-size: cover;
    width: 33.3%;
}

.port-2 {
    display: inline-block;
    background-image: url(../img/portfolio2.jpg);
    background-size: cover;
    width: 33.3%;

}

.port-3 {
    display: inline-block;
    background-image: url(../img/portfolio4.jpg);
    background-size: cover;
    width: 33.3%;

}

.mask {
    
}

.mask p {
    transition: opacity 0.5s ease-in-out, background-color 1s linear;
    opacity: 0;
    color: white;
    text-align: justify;
    padding: 5px;
}

.mask p:hover{
    opacity: 1;
    background-color: rgba(61, 61, 123, 0,6);
    z-index: 2;
    

}
